# Ignore Python virtual environment
env_netlist/

# Optional: Ignore other common Python-related files
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# other
# config is now dynamicllay generated
/Model training/config.yaml
# Ignore model checkpoints
runs/

/Program/Results
# /Program test/Model test/Model test results
/Program test/Netlist generator algorithm test/Method 1/Test outputs for debugging
# /Program test/Netlist generator algorithm test/Method 1/Test results
/Program test/Netlist generator algorithm test/Method 2/Test outputs for debugging
# /Program test/Netlist generator algorithm test/Method 2/Test results
/Current trained model/Old models for testing purposes