# Ignore Python virtual environment
env_netlist/

# Optional: Ignore other common Python-related files
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# other
# config is now dynamicllay generated
/Model training/config.yaml
# Ignore model checkpoints
runs/

